<footer>
    <span class="footer">
        <span class="footer-content">
            <span class="footer-section about">
                <h4 id="sCv">Student CV's</h4>
                <p>Number one source for all Student CV’s.</p>
                
            </span>
            <span class="footer-section-pagelinks">
                <h4 id="us">Usable Links</h4>
                <ul>
                    <a href="/">
                        <ol>Home</ol>
                    </a>
                    
                    <a href="/contact">
                        <ol>Contacts</ol>
                    </a>
                    
                    <a href="/about">
                        <ol>About Us</ol>
                    </a>
                </ul>
            </span>
            <span class="footer-section contacts">
                <h4 id="cUs">Contact Us</h4>
                <span class="contacts">
                    <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>
                    <br>
                    <span><i class="fa fa-envelope"></i> &nbsp; coventry4c@gmail.com</span>
                </span>
            </span>
        </span>
        <div class="footer-copyright">
            Copyright 2019 &copy;
        </div>
    </span> 
</footer>
