<nav>
  <ul>
    <li><a href="/">Home </a></li>
    {{#if data}}
    <li><a href="/contact">Contacts</a></li>
    {{/if}}
    <li><a href="#">About us</a></li>

    {{#if data}}

      <li>
        <a class="myCV"  href="/cv">My CV</a>
      </li>


      <li>
        <a class="login" href="/authentication/logout">log out</a>
      </li>

    {{else}}

        <li>
          <a href="/register">register</a>
        </li>

        <li>
    
          <form class="login" action="/authentication/login" method="post">
        
             <i class="fa fa-user" ></i>  <input type="text" name="user" placeholder="Username" size="11" value="{{user}}" autofocus>
            <i class="fa fa-lock"></i>  <input type="password" name="pass" placeholder="Password" size="11" value="{{pass}}">
            <input type="submit" id="myPass" value="Log in">
          </form>
        </li>

      {{/if}}
  </ul>
</nav>
  
