<nav>
  <ul>
    <li><a href="#">Home </a></li>
    <li><a href="#">Contacts</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#" class="drop">CV's</a>
      <span class="subnav">
                        <span class="sub-content">
                            <ul>
                                <li><a href="#">Detailed CV</a></li>
                                <li><a href="#">... CV</a></li>
                            </ul>
                        </span>
                   </span>
    </li>
      
      {{#if isUserLoggedIn}}
          <span class="login" ><a href="/logout">log out</a></span>
      {{else}}
        <form action="/login" method="post">      
            <span class="login">
                    Username: <input type="text" name="user" placeholder="your username" value="{{user}}" autofocus>
                    Password: <input type="password" name="pass" placeholder="your password" value="{{pass}}">
                    <input type="submit" id="myPass" value="Log in">
            </span>
		</form>
		<p><a href="/register">register</a></p>
      {{/if}}
  </ul>
</nav>
