<nav>
  <ul>
    <li><a href="/">Home </a></li>
    <li><a href="/contact">Contacts</a></li>
    <li><a href="#">About us</a></li>
    

      
        
    {{#if isUserLoggedIn}}
      <li>
        <a class="login" href="/logout">log out</a>
      </li>
      <a class="myCV"  href="myCV">My CV</a>
    {{else}}
        <li> 
          <a href="/register">register</a>
        </li>
        <li>
          <form class="login" action="/login" method="post">      
            <input type="text" name="user" placeholder="Username" size="11" value="{{user}}" autofocus>
            <input type="password" name="pass" placeholder="Password" size="11" value="{{pass}}">
            <input type="submit" id="myPass" value="Log in">
          </form>
        </li>
      {{/if}}
    
  </ul>
</nav>
