{{!< main }}

{{> header}}
<span id="about-page-span">

<span id="about-page-main-content">

<img width="50%" src="avatars/about.jpg">

<p id="about-text">Welcome to our Student CV’s website, your number one source for all Student CV’s. We're dedicated to giving you the very best, with a focus on exclusivity.
Founded in 2019 by Students at Coventry University, this has come a long way from its beginnings in a classroom at the University. 
</p>

</span>


</span>


{{> footer}}
