{{!< main }}

{{> header}}

{{#if cvData}}
<form class="signup" action="/cv/edit" enctype="multipart/form-data" method="post">

    <label class='signup'>Name:</label>
    <input class='signup' type="text" name="name" placeholder="Your fullname" value="{{cvData.name}}">

    <label class='signup'>Address:</label>
    <input class='signup' type="text" name="address" placeholder="Address line" value="{{cvData.addressLine1}}">

    <label class='summary'>Summary</label>
    <input class='signup' type="text" name="summary" placeholder="A short summary of your CV displayed on the home page" value="{{cvData.summary}}">

    <input class='signup' type="submit" value="Create">

</form>
{{else}}

<form class="signup" action="/cv/edit" enctype="multipart/form-data" method="post">

    <label class='signup'>Name:</label>
    <input class='signup' type="text" name="name" placeholder="Your fullname">

    <label class='signup'>Address:</label>
    <input class='signup' type="text" name="address" placeholder="Address line">

    <label class='summary'>Summary</label>
    <input class='signup' type="text" name="summary" placeholder="A short summary of your CV displayed on the home page">

    <label class="signup"><i class=" fa fa-photo"></i> Profile picture:</label> 
    <input type="file" name="fileToUpload" >

    <input class='signup' type="submit" value="Create">

</form>
{{/if}}

{{> footer}}
