{{!< main }}

{{> header}}

<form class="signup" action="/cv" enctype="multipart/form-data" method="post">
       

            

            <input class='signup' type="submit" value="Create">

        </form>

{{> footer}}