{{!< main }}
<link rel="stylesheet" type="text/css" href="CSS/myCV.css"></main>
{{> header}}

    
    

    <h2> {{name}}</h2>
    <h3>{{address}}</h3>
    <h4>{{details}}</h4>

    
    

    
    
    <li><a href='/cvedit' > Edit CV</a></li>

    



{{> footer}}