{{!< main }}
<link rel="stylesheet" type="text/css" href="CSS/myCV.css"></main>
{{> header}}

    
    

    <h2 class = "cvTitle" > 
         {{name}}
    </h2>
    <h2 class = "cvAddress" >
        {{address}}
    </h2>
    <h2 class = "cvDetails">
        {{details}}
    </h2>

    
    
    
        <a class= "editButton" href='/cvedit'>Edit CV</a>
    
    
    

    



{{> footer}}