{{!< main }}
<link rel="stylesheet" type="text/css" href="CSS/myCV.css">

{{> header}}

<h2 class="cvTitle">
  {{cvData.name}}
</h2>
<h2 class="cvAddress">
  {{cvData.address}}
</h2>
<h2 class="cvDetails">
  {{cvData.details}}
</h2>

<a class="editButton" href='/cv/edit'>Edit CV</a>

{{> footer}}
