
{{!< main }}
 

<link rel="stylesheet" type="text/css" href="CSS/account.css"></main>

{{> header}}
    
        <form class="signup"action="/register" action="upload" enctype="multipart/form-data" method="post">
            <h2>Students CVs Registration Form</h2>

            <label class='signup'><i class="fa fa-user"></i> Username:</label>
            <input class='signup' type="text" name="user" placeholder="you prefered username(no spaces)">
            
            <label class='signup'><i class="fa fa-envelope"></i> Email:</label>
           <input class='signup' type="text" name="email" placeholder="your email address">

            <label class='signup'><i class="fa fa-lock"></i> Password:</label>
            <input class='signup' type="password" name="pass" placeholder="your chosen password">
              
            <label class="signup"><i class=" fa fa-photo"></i> Profile picture:</label> 
            <input type="file" name="fileToUpload" >
            
                
            
            <input class='signup' type="submit" value="Create">

        </form>
 

{{> footer}}