
{{!< main }}

<link rel="stylesheet" type="text/css" href="CSS/account.css"></main>

{{> header}}
        <form action="/register" enctype="multipart/form-data" method="post">
            {{!-- <label> First Name:</label>
            <input type="text">

            <label>Last Name:</label>
            <input type="text">

            <label>E-mail:</label>
            <input type="text">

            <label>E-mail conformation:</label>
            <input type="text">

            <label>Mobile Number:</label>
            <input type="text"> --}}

            <label>Username:</label>
            <input type="text" name="user" placeholder="your preferred username (no spaces)">

            <label>Password:</label>
            <input type="text" name="pass" placeholder="your chosen password">

            {{!-- <label>Password conformation:</label>
            <input type="text"> --}}
            
            <input type="submit" value="Create">

        </form>
{{> footer}}