{{!< main }}
<link rel="stylesheet" type="text/css" href="../../CSS/seenBy.css">

{{> header}}


<h2 id="head1">Users who contacted you.</h2>
{{#each see}}
    <section id="user">
        <p>
            {{this.userSeen}}
        </p>
    </section>
{{/each}}

{{> footer}}
