.cvTitle{
    color: black;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cvAddress{
    color: black;
    text-align: right;
    float: right;
    padding-right: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 80px;
    margin-bottom: 22px;
}


.cvAddress p{
    margin:0px;
}

.cvDetails{
    color: black;
    text-align: justify;
    padding-top: 20px;
    margin: 45px 250px 40px 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap: break-word;
}

.editButton{
    background-color: rgb(84, 124, 160);
    border: none;
    color: white;
    padding: 20px 25px ;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin:45px 220px 400px 560px;
    border-radius: 8px;
}

.cv{
    overflow: scroll;
}

.editButton:hover{
    background-color: rgb(70, 102, 129);
}
