h2 {
   
    color: black;
    text-align: justify;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    line-height: 30px;
    position: relative;
    z-index: 1;
   }

h3 {
    color: black;
    text-align: justify;
    text-align:right;
    padding-right: 600px;


   } 
h4 {
    color: black;
    text-align: justify;
    text-align: center;
    scroll-padding-top: 600px;
    }
li a:hover {
    color:black;
    


}